*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contaner{
    height:50%;
    width: 70%;
    /* border: 2px solid black; */
    display: flex;
    /* background-color: blueviolet; */
    /* justify-content:space-evenly; */
    flex-direction: row;
}
img{
 filter: drop-shadow(0px 0px 15px rgb(4, 249, 89));
    
}
#qulity{
     /* border: 2px solid black; */
     list-style: none;
     height: 100%;
     width: 100%;
    
}
#heading{
     /* border: 2px solid black; */
     font-size: 60px;
}
.right{
     /* border: 2px solid black; */
     /* background-color: aquamarine; */
}
.left{
     /* border: 2px solid black; */
     /* background-color: blueviolet;
 */
}
ul{
     list-style: none;
     font-size: 4em;
     font-weight: 0;
     
}
ol{
     list-style:disc;
    font-size: 2em;
     font-weight: 200;
    margin: 30px;
}

.buy{
    /* border: 2px solid black; */
    height: 10%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    font-size: 30px;
    color: red;
    left: 20px;
}
#button{
    font-size: 30px;
    background-color: rgb(23, 8, 99);
    color: rgb(236, 12, 12);
    position: relative;
    top:20px;
    border: none;

}
.view{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    width: 20vw;
    top: 80px;
    gap: 12px;
}
@media (max-width: 440px) {
    .contaner{
        display: flex;
        flex-direction: column-reverse;

    }
    img{
        height: 300px;
        width: 300px;
    }
}
